<section class="footer">
  <footer>
    <div class="footer_div">
      <nav class="cover-navigation navigation--social">
        <ul class="navigation">

          {% if site.social.weibo %}
          <!-- Weibo -->
          <li class="navigation__item_social">
            <a href="http://weibo.com/{{site.social.weibo}}" title="@{{site.social.weibo}} 的微博" target="_blank">
              <i class='social fa fa-weibo fa-2x'></i>
              <span class="label">Weibo</span>
            </a>
          </li>
          {% endif %} {% if site.social.github %}
          <!-- Github -->
          <li class="navigation__item_social">
            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
              <i class='social fa fa-github fa-2x'></i>
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %} {% if site.social.twitter %}
          <!-- Twitter -->
          <li class="navigation__item_social">
            <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
              <i class='social fa fa-twitter fa-2x'></i>
              <span class="label">Twitter</span>
            </a>
          </li>
          {% endif %} {% if site.social.gplus %}
          <!-- Google Plus -->
          <li class="navigation__item_social">
            <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
              <i class='social fa fa-google-plus-square fa-2x'></i>
              <span class="label">Google Plus</span>
            </a>
          </li>
          {% endif %}

          <!-- RSS -->
          <li class="navigation__item_social">
            <a href="/feed.xml" rel="author" title="RSS" target="_blank">
              <i class='social fa fa-rss fa-2x'></i>
              <span class="label">RSS</span>
            </a>
          </li>

          {% if site.social.mail %}
          <!-- Email -->
          <li class="navigation__item_social">
            <a href="mailto:{{site.social.mail}}" title="Contact me">
              <i class='social fa fa-envelope fa-2x'></i>
              <span class="label">Email</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </nav>

    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr id="bar_head">
          <th colspan="11">友情链接</th>
        </tr>
      </thead>

      <tr align="center" valign="middle">
          <td><a href="http://www.kongyixueyuan.com">区块链技术视频网站</a></td>

          <td><a href="https://www.ethereum.org">以太坊官网</a></td>

          <td><a href="https://solidity.readthedocs.io/en/develop/">Solidity</a></td>

          <td><a href="http://truffleframework.com/">Truffle FrameWork</a></td>

          <td><a href="http://embark.readthedocs.io">Embark FrameWork</a></td>

      </tr>
      <tr align="center" valign="middle">

          <td><a href="https://www.ibm.com/developerworks/community/groups/service/html/communityview?communityUuid=3302cc3b-074e-44da-90b1-5055f1dc0d9c&amp;lang=zh">IBM开源技术微讲堂</a></td>

          <td><a href="https://www.bitcoin.com/">Bitcoin.com</a></td>

          <td><a href="https://github.com/bitshares/bitshares1-core">bitshares1-core</a></td>

          <td><a href="https://ipfs.io">ipfs官网</a></td>

          <td><a href="http://ipfser.org">ipfs中文网</a></td>

      </tr>
    </table>

    <div class="footer_div">
      <p class="copyright text-muted">
        Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }} 京ICP备15065741号. 区块链部落QQ群：348924182
      </p>
      <div align="right">
        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- 访问统计 -->
        <span id="busuanzi_container_site_pv">
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次
        </span>

      </div>
      <div>
  </footer>
</section>
