<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('/images/background-cover.jpg')">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <!-- 头像效果-start -->
        <div class="ih-item circle effect right_to_left">
          <a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button">
            <div class="img"><img src="/images/avatar.jpg" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h2 style="font-size: 14px">
                  {% if site.avatarTitle %} {{site.avatarTitle}} {% endif %}
                </h2>´
                <p style="font-size: 6px">
                  {% if site.avatarDesc %} {{site.avatarDesc}} {% endif %}
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- 头像效果-end -->
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" /> {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}


        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                <li class="navigation__item"><a href="{{item.url}}" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>

        <div style="display:flex;justify-content:center;-webkit-justify-content:center">
          <div style="display:flex;flex-direction:column;align-items:center;-webkit-flex-direction:column;-webkit-align-items:center;margin-right:10px">
            <img src="/images/zhishixingqiu.png" style="width:120px;height:120px;margin-top:30px;margin-bottom:10px" />
            <span class="panel-cover__subtitle panel-subtitle" style="font-size: 12px">链乎问答社区</span>
          </div>
          <div style="display:flex;flex-direction:column;align-items:center;-webkit-flex-direction:column;-webkit-align-items:center;margin-left:10px">
            <img src="/images/lianhu.jpg" style="width:120px;height:120px;margin-top:30px;margin-bottom:10px" />
            <span class="panel-cover__subtitle panel-subtitle" style="font-size: 12px">链乎公众号</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% if site.cover_color %}
  <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
  {% else %}
  <div class="panel-cover--overlay cover-disabled"></div>
  {% endif %}

  </div>
</header>
