<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
          
      </div>
    </span> {% include side-panel.html %}

  <div class="content-wrapper">
    <div class="content-wrapper__inner">
      {{ content }} {% include footer.html %}
    </div>
  </div>

  {% include external.html %}

  <script>
    (function () {
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      } else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>


</body>

</html>